@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Jersey+20&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Antonio:wght@100..700&family=Jersey+20&family=League+Spartan:wght@100..900&display=swap");

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

html {
  font-family: Antonio;
  color: #ffffff;
}

/* HEADER / NAVBAR */
header {
  background-color: #070724;
  height: 5rem;
}
.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: inherit;
  padding: 0 1.5rem 0 1.5rem;
  border-bottom: 1px solid #838391;
}

.navbar > p {
  font-size: 2rem;
}

.nav-planets-list {
  display: flex;
  list-style: none;
  gap: 1.5rem;
  letter-spacing: 1.6px;
  color: #838391;
  font-family: League Spartan;
  font-weight: bold;
  text-transform: uppercase;
}



.grid {
  display: grid;
}